.textarea {
    margin-bottom: var(--sizing-m);
}

.textarea label{
    display: block;
    margin-bottom:0;
    font-size: var(--form-label-font-size);
    line-height: var(--form-label-line-height);
}

.textarea textarea{
    display: block;
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    font-size: var(--form-input-font-size);
    line-height: var(--form-input-line-height);
    border: var(--form-input-border);
    border-radius: var(--form-input-border-radius);
    background-color: var(--form-input-background);
    padding: var(--form-input-padding);
}



.textarea textarea:focus{
   
    border: var(--form-input-border-focus);
    
    background-color: var(--form-input-background-focus);
}
