.main {
 
}
.section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    
}

.section.hero {
    background-color: var(--color-background-light);
}

.section.venue {
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

@media (prefers-color-scheme: dark) {
  
}

