.main {
 
}
.section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    border-bottom: 1px solid #000;
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

@media (prefers-color-scheme: dark) {
  
}

