.nav {
 
}
.menu {
    list-style-type: none;
    display: flex;
}
.menuItem {
    padding: 10px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

@media (prefers-color-scheme: dark) {
  
}

